<% if current_user == user %>
    <div class="h-[139px] w-screen bg-[url('dark_banner.png')]">
        <%= render "settings" %>
    </div>
<% else %>
    <div class="h-[139px] w-screen bg-[url('light_banner.png')]">
        <div class="absolute flex top-5 left-5">
            <div class="self-center">
                <%= render partial: "shared/icon", locals: { icon_name: "back", class_names: "fill-violet-dark-active" } %>
            </div>
            <%= link_to "Back", :back, class: "text-sm text-violet-dark-active font-bold ml-2" %>
        </div>
    </div>
<% end %>

<div class="mt-5" data-controller="profile-tabs">
    <div class="flex flex-col mb-5 text-center">
        <h1 class="flex-1 mb-2 text-xl font-bold font-headline"><%= user.username %></h1>
        <p class="flex-1 text-sm"><%= user.bio %></p>
    </div>

    <% if current_user == user %>
        <div class="flex items-center justify-center w-screen gap-1 border-b">
            <button data-profile-tabs-target="createdButton" data-action="profile-tabs#switchToCreated" class="px-4 py-1 font-bold border -mb-[1px] rounded-t-md border-b-white">
                Created Guides
            </button>
            <button data-profile-tabs-target="favoritedButton" data-action="profile-tabs#switchToFavorited" class="px-4 py-1 border -mb-[1px] rounded-t-md bg-form-light-primary">
                Favorited Guides
            </button>
        </div>
    <% else %>
        <p class="flex justify-center">Created Guides:</p>
    <% end %>


    <div data-profile-tabs-target="created" class="flex justify-center">
        <% if user.guides.empty? %>
            <% if current_user == user %>
                <p class="mt-10 text-center w-72 text-form-secondary">
                    You haven't created any guides... yet! Tap the "Create" button to get started!
                </p>
            <% else %>
                <p class="mt-10 text-center text-form-secondary">
                    <%= user.username %> hasn't created any guides... yet!
                </p>
            <% end %>
        <% end %>
        <ul>
            <% user.guides.reverse_order.each do |guide| %>
                <li>
                    <%= render "guides/guide_desc", guide: guide %>
                </li>
            <% end %>
        </ul>
    </div>

    <div data-profile-tabs-target="favorited" class="flex justify-center hidden">
        <% if user.favorited_guides.empty? %>
            <% if current_user == user %>
                <p class="mt-10 text-center w-72 text-form-secondary">
                    To save a guide for later, tap the purple bookmark icon next to the guide's title.
                </p>
            <% else %>
                <p class="mt-10 text-center text-form-secondary">
                    <%= user.username %> hasn't favorited any guides.
                </p>
            <% end %>
        <% end %>
        <ul>
            <% user.favorited_guides.reverse_order.each do |favorited| %>
                <li>
                    <%= render "guides/guide_desc", guide: favorited.guide %>
                </li>
            <% end %>
        </ul>
    </div>
</div>