<% content_for :body_class, 'bg-violet-light-primary' %>
<div class="flex justify-center">
  <div class="flex flex-col w-80">

    <h1 class="mb-8 text-3xl font-headline">Log In</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="flex flex-col gap-2">
        <div class="flex flex-col field">
          <%= f.label :email, class:"font-bold" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"text-input", placeholder: "Enter your email" %>
        </div>

        <div class="flex flex-col field">
          <%= f.label :password, class:"font-bold" %>
          <%= f.password_field :password, autocomplete: "current-password", class:"text-input", placeholder: "Enter your password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="mt-4 field">
            <%= f.check_box :remember_me, class:"rounded-sm" %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="flex justify-center mt-4 actions">
          <%= f.submit "Log in", class:"px-4 py-2 mb-10 font-bold text-black border-0 rounded bg-periwinkle-primary hover:bg-periwinkle-hover active:bg-periwinkle-active" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
