<h3>Add a Guide</h3>

<%= form_with(model: @post) do |form| %>
    <p>
        <%= form.label :tags %><br/>
        <%= form.collection_check_boxes(:tags, Post::TAG_OPTIONS, :last, :first) %>
    </p>
    <p>
        <%= form.label :image %><br>
        <%= form.file_field :image %>
    </p>
    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </p>
    <p>
        <%= form.label :city %><br>
        <%= form.text_field :city %>
    </p>
    <%= form.submit "Create Guide", class: "" %>
<% end %>
