<h3>Activities</h3>
<% if @post.activities.length > 0 %>
    <ul>
        <% @post.activities.each do |activity| %>
                <% if activity.image.attached? %>
                    <%= image_tag activity.image.variant(resize_to_fit: [100,100]) %><br/>
                <% end %>
                <%= activity.title %><br/>
                <%= activity.prompt %>: <%= activity.prompt_answer %><br/>
                <%= activity.hours_to_complete %> hr. <%= activity.minutes_to_complete %> min.<br/>
            <br/>
        <% end %>
    </ul>
<% end %>

<h4>Add an Activity</h4>
<%= render 'activities/form' %>