<h3>Activities</h3>
<% if @post.activities.length > 0 %>
    <ul>
        <% @post.activities.each do |activity| %>
            <li>
                <% if activity.image.attached? %>
                    <%= image_tag activity.image.variant(resize_to_fit: [100,100]) %>
                <% end %>
                <%= activity.title %>
                <%= activity.prompt %>: <%= activity.prompt_answer %>
                <%= activity.hours_to_complete %> hr. <%= activity.minutes_to_complete %> min.
            </li>
        <% end %>
    </ul>
<% end %>

<h4>Add an Activity</h4>
<%= render 'activities/form' %>