<%= form_with model: [ guide, guide.activities.build ] do |form| %>
    <p class="flex items-center justify-center w-10 h-10 text-xl font-semibold bg-white border-2 rounded-full font-headline border-violet-primary">
        <%= guide.activities.length %>
    </p>
    <div class="flex flex-col">
        <%# Activity Title Field %>
        <%= form.label "Activity Name", class: "font-bold" %>
        <%= form.text_field :title, class: "text-input", placeholder: "Title this part of your day" %>
        <%# Activity Image Upload %>
        <div class="mb-4" data-controller="image-preview">
            <%= form.label :image, "Photo", class: "font-bold" %>
            <%= form.file_field :image, "data-image-preview-target": "uploadButton", class: "text-transparent block text-sm border border-form-primary rounded w-72 h-72", "data-action":"image-preview#setImgSrcValue" %>
        </div>
        <%# Location Field %>
        <%= form.label :location, class: "font-bold" %>
        <%= form.text_field :location, class: "text-input", placeholder: "Enter a location or address" %>
        <%# Activity Duration %>
        <%= form.label "Duration", class: "font-bold" %>
        <div class="flex flex-row items-center">
            <div class="flex flex-col">
                <%= form.label :hours_to_complete, class: "hidden" %>
                <%= form.select :hours_to_complete, options_for_select((0..23).to_a), {}, class: "px-8 py-3 max-w-sm border border-form-primary rounded focus:border-violet-active focus:ring-0" %>
            </div>
            <p class="pl-2 pr-4"> hr </p>
            <div class="flex flex-col">
                <%= form.label :minutes_to_complete, class: "hidden" %>
                <%= form.select :minutes_to_complete, options_for_select((0..45).step(15).to_a), {}, class: "px-8 py-3 max-w-sm border border-form-primary rounded focus:border-violet-active focus:ring-0" %>

            </div>
            <p class="pl-2"> min </p>
        </div> 
        <%# Activity Description Prompt dropdown %>
        <%= form.label :prompt, class: "font-bold" %>
        <%= form.select :prompt, options_for_select(Activity::PROMPTS), {}, class: "text-center border-violet-primary bg-violet-primary rounded-t border-b-0 focus:ring-0 focus:border-violet-primary" %>
        <%# Activity Description %>
        <%= form.label :prompt_answer, class: "hidden" %>
        <%= form.text_area :prompt_answer, class: "max-w-sm px-4 py-3 border rounded-b placeholder-form-secondary border-form-secondary focus:border-violet-active focus:ring-0" %>
    </div>
    <div class="text-center">
        <%= form.submit "Submit Activity", class: "px-4 py-2 my-2 mt-6 font-bold text-black border-0 rounded bg-periwinkle-primary hover:bg-periwinkle-hover active:bg-periwinkle-active" %>
    </div>
<% end %>
