<%= form_with model: [ @post, @post.activities.build ] do |form| %>
    <p>
        <%= form.label :image %><br>
        <%= form.file_field :image %>
    </p>
    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </p>
    <p>
        <%= form.label :prompt %><br>
        <%= form.select :prompt, options_for_select(Activity::PROMPTS) %>
    </p>
    <p>
        <%= form.label :prompt_answer %><br>
        <%= form.text_field :prompt_answer %>
    </p>
    <p>
        <%= form.label :minutes_to_complete %>
        <%= form.number_field :minutes_to_complete %>
    </p>
    <p>
        <%= form.submit %>
    </p>
<% end %>