<div class="border rounded-t p-4">
    <% if guide.image.attached? %>
        <%= image_tag guide.resize_attached_image %>
    <% end %>
    <div id="author-date" class="flex flex-row">
        <%= link_to guide.author.username, user_path(guide.author), class:"text-form-primary" %>
        <div class="text-form-secondary flex flex-row">
            <p>&nbsp;on&nbsp;</p>
            <%= guide.created_at.to_date %>
        </div>
    </div>

    <%# TODO: Fix error when applying styles directly to erb elements %>
    <div class="flex flex-row justify-between items-center border-b border-dashed border-form-secondary">
        <div id="title-city" class="flex flex-col w-56">
            <div class="font-headline font-semibold text-xl">
                <%= guide.title %>
            </div>
            <div class="italic mb-1">
                <%= guide.city %>
            </div>
        </div>
        <div id="favorite" class="text-center text-xs text-form-secondary">
            <% if current_user == guide.author %>
                <%# TODO: Switch to SVG file approach %>
                <%# <img src="./app/assets/images/favorite.svg" alt="Favorite"> %>
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="23" viewBox="0 0 18 23" fill="none">
                <rect width="18" height="22.0933" />
                <path d="M1 20.4056V20.4053V3.375C1 2.74511 1.25022 2.14102 1.69562 1.69562C2.14102 1.25022 2.74511 1 3.375 1H14.625C15.2549 1 15.859 1.25022 16.3044 1.69562C16.7498 2.14102 17 2.74511 17 3.375V20.4053V20.4056C17 20.526 16.9684 20.6444 16.9084 20.7487C16.8483 20.8531 16.7619 20.9399 16.6577 21.0004C16.5536 21.0608 16.4354 21.0929 16.3149 21.0933C16.1946 21.0938 16.0762 21.0626 15.9717 21.0029C15.9716 21.0029 15.9716 21.0028 15.9715 21.0028L10.0542 17.6212L10.054 17.621C9.73299 17.4377 9.3697 17.3412 9 17.3412C8.6303 17.3412 8.26701 17.4377 7.946 17.621L7.94583 17.6212L2.0285 21.0028C2.02849 21.0028 2.02848 21.0028 2.02847 21.0028C2.02842 21.0028 2.02837 21.0029 2.02833 21.0029C1.92379 21.0626 1.80543 21.0938 1.68507 21.0933C1.56463 21.0929 1.44642 21.0608 1.34228 21.0004C1.23813 20.9399 1.15169 20.8531 1.09162 20.7487C1.03155 20.6444 0.999959 20.526 1 20.4056Z" class="stroke-form-secondary" stroke-width="2"/>
                </svg>
            <% else %>
                <%= button_to "Favorite", save_guide_path(guide) %>
            <% end %>
            <%= guide.favorited_guides.count %>
        </div>
    </div>
    <div id="guide-stats" class="flex flex-row text-sm">
        <div id="time" class="border-r border-form-secondary border-dashed pt-1 pr-2 mr-2">
            <%= guide.total_activity_time / 60 %> hr
            <%= guide.total_activity_time % 60 %> min
        </div>
        <div id="activity-count" class="border-r border-form-secondary border-dashed pt-1 pr-2 mr-2">
            <%= guide.activities.length %> <%= guide.activities.length == 1 ? "Activity" : "Activities" %>
        </div>
        <div id="tags" class="flex flex-row pt-1">
            <% guide.tags.each do |tag| %>
                <% if tag == "" %>
                    <% next %>
                <% end %>
                <%= Guide::TAG_OPTIONS.key(tag.to_i) %>&nbsp;
            <% end %>
        </div>
    </div>
</div>