<div class="p-4 border rounded-t">
    <% if guide.image.attached? %>
        <a href="<%= detail_guide_path(guide) %>">
            <%= image_tag guide.resize_attached_image %>
        </a>
    <% end %>
    <div id="author-date" class="flex flex-row">
        <%= link_to guide.author.username, user_path(guide.author), class:"text-form-primary" %>
        <div class="flex flex-row text-form-secondary">
            <p>&nbsp;on&nbsp;</p>
            <%= guide.created_at.to_date %>
        </div>
    </div>

    <%# TODO: Fix error when applying styles directly to erb elements %>
    <div class="flex flex-row items-center justify-between border-b border-dashed border-form-secondary">
        <div id="title-city" class="flex flex-col w-56">
            <a href="<%= detail_guide_path(guide) %>">
                <div class="text-xl font-semibold font-headline">
                    <%= guide.title %>
                </div>
                <div class="mb-1 italic">
                    <%= guide.city %>
                </div>
            </a>
        </div>
        <div id="favorite" class="text-xs text-center text-form-secondary">
            <% if current_user == guide.author %>
                <%= render partial: 'shared/icon', locals: { icon_name: 'favorites', class_names:"h-[23px]" } %>
            <% else %>
                <%# if the current user has the guide favorited already %>
                <% if current_user.favorited_guides.where(guide_id: guide.id).length != 0 %>
                    <%= button_to "Unfavorite", save_guide_path(guide) %>
                <% else %>
                    <%= button_to "Favorite", save_guide_path(guide) %>
                <% end %>
            <% end %>
            <%= guide.favorited_guides.count %>
        </div>
    </div>
    <div id="guide-stats" class="flex flex-row text-sm">
        <div id="time" class="pt-1 pr-2 mr-2 border-r border-dashed border-form-secondary">
            <%= guide.total_activity_time / 60 %> hr
            <%= guide.total_activity_time % 60 %> min
        </div>
        <div id="activity-count" class="pt-1 pr-2 mr-2 border-r border-dashed border-form-secondary">
            <%= guide.activities.length %> <%= guide.activities.length == 1 ? "Activity" : "Activities" %>
        </div>
        <div id="tags" class="flex flex-row pt-1">
            <% guide.tags.each do |tag| %>
                <% if tag == "" %>
                    <% next %>
                <% elsif tag == "1" %>
                    <%= render partial: "shared/icon", locals: { icon_name: "food", class_names: "h-4 bg-violet-primary rounded" } %>
                <% elsif tag == "8" %>
                    <%= render partial: "shared/icon", locals: { icon_name: "outdoor", class_names: "h-4" } %>
                <% end %>
                <%= Guide::TAG_OPTIONS.key(tag.to_i) %>&nbsp;
            <% end %>
        </div>
    </div>
</div>
