<div class="p-4">
    <%# Guide Image %>
    <% if guide.image.attached? %>
        <a href="<%= detail_guide_path(guide) %>">
            <%= image_tag guide.image, class: "rounded w-72 h-72 object-cover mb-1" %>
        </a>
    <% end %>
    <%# Guide Author and Date %>
    <div class="flex">
        <%= link_to guide.author.username, user_path(guide.author), class:"text-form-primary" %>
        <div class="flex text-form-secondary">
            <p>&nbsp;on&nbsp;</p>
            <%= guide.created_at.to_date %>
        </div>
    </div>

    <div class="flex items-center justify-between gap-2 border-b border-dashed border-form-secondary">
        <%# Guide Title and City %>
        <a href="<%= detail_guide_path(guide) %>" class="flex flex-col">
            <p class="text-xl font-semibold font-headline">
                <%= guide.title %>
            </p>
            <p class="mb-1 italic">
                <%= guide.city %>
            </p>
        </a>
        <%# Guide Favorite Button %>
        <div>
            <% if current_user == guide.author %>
                <%= render partial: 'shared/icon', locals: { icon_name: 'favorites', class_names:"h-[23px] stroke-form-secondary fill-form-secondary" } %>
            <% else %>
                <%# if the current user has the guide favorited already %>
                <% if current_user.favorited_guides.where(guide_id: guide.id).length != 0 %>
                    <%= button_to save_guide_path(guide) do %>
                        <%= render partial: 'shared/icon', locals: { icon_name: 'favorites', class_names:"h-[23px] stroke-violet-active fill-violet-primary" } %>
                    <% end %>
                <% else %>
                    <%= button_to save_guide_path(guide) do %>
                        <%= render partial: 'shared/icon', locals: { icon_name: 'favorites', class_names:"h-[23px] stroke-violet-active" } %>
                    <% end %>
                <% end %>
            <% end %>
            <div class="text-xs text-center text-form-secondary">
                <%= guide.favorited_guides.count %>
            </div>
        </div>
    </div>
    <%# Guide Stats (time, activity count, tags) %>
    <div class="flex pt-1 text-sm">
        <%# Total Time %>
        <div class="pr-2 mr-2 border-r border-dashed border-form-secondary">
            <%= guide.activities.sum(:minutes_to_complete) / 60 %> hr
            <%= guide.activities.sum(:minutes_to_complete) % 60 %> min
        </div>
        <%# Activity Count %>
        <div class="pr-2 mr-2 border-r border-dashed border-form-secondary">
            <%= guide.activities.length %> <%= guide.activities.length == 1 ? "Activity" : "Activities" %>
        </div>
        <%# Tags %>
        <div class="flex gap-1">
            <% guide.tags.each do |tag| %>
                <% if tag == "" %>
                    <% next %>
                <%# Eat %>
                <% elsif tag == "1" %>
                    <div class="flex justify-center w-8 px-2 py-1 text-center rounded-full bg-golden-primary">
                        <%= render partial: "shared/icon", locals: { icon_name: "tag-food", class_names: "h-4" } %>
                    </div>
                <%# Entertainment %>
                <% elsif tag == "2" %>
                    <div class="flex justify-center w-8 px-2 py-1 text-center rounded-full bg-violet-primary">
                        <%= render partial: "shared/icon", locals: { icon_name: "tag-entertainment", class_names: "h-4" } %>
                    </div>
                <%# Relax %>
                <% elsif tag == "3" %>
                    <div class="flex justify-center w-8 px-2 py-1 text-center rounded-full bg-violet-light-active">
                        <%= render partial: "shared/icon", locals: { icon_name: "tag-relax", class_names: "h-4" } %>
                    </div>
                <%# Shop %>
                <% elsif tag == "4" %>
                    <div class="flex justify-center w-8 px-2 py-1 text-center rounded-full bg-golden-light-active">
                        <%= render partial: "shared/icon", locals: { icon_name: "tag-shop", class_names: "h-4" } %>
                    </div>
                <%# Educational %>
                <% elsif tag == "5" %>
                    <div class="flex justify-center w-8 px-2 py-1 text-center rounded-full bg-limon-hover">
                        <%= render partial: "shared/icon", locals: { icon_name: "tag-educational", class_names: "h-4" } %>
                    </div>
                <%# Arts %>
                <% elsif tag == "6" %>
                    <div class="flex justify-center w-8 px-2 py-1 text-center rounded-full bg-periwinkle-light-hover">
                        <%= render partial: "shared/icon", locals: { icon_name: "tag-arts", class_names: "h-4" } %>
                    </div>
                <%# Fitness %>
                <% elsif tag == "7" %>
                    <div class="flex justify-center w-8 px-2 py-1 text-center rounded-full bg-limon-primary">
                        <%= render partial: "shared/icon", locals: { icon_name: "tag-fitness", class_names: "h-4" } %>
                    </div>
                <%# Outdoor %>
                <% elsif tag == "8" %>
                    <div class="flex justify-center w-8 px-2 py-1 text-center rounded-full bg-periwinkle-light-active">
                        <%= render partial: "shared/icon", locals: { icon_name: "tag-outdoor", class_names: "h-4" } %>
                    </div>
                <%# Low-Cost %>
                <% elsif tag == "9" %>
                    <div class="flex justify-center w-8 px-2 py-1 text-center rounded-full bg-form-light-primary">
                        <%= render partial: "shared/icon", locals: { icon_name: "tag-low-cost", class_names: "h-4" } %>
                    </div>
                <%# Nightlife %>
                <% elsif tag == "10" %>
                    <div class="flex justify-center w-8 px-2 py-1 text-center rounded-full bg-periwinkle-primary">
                        <%= render partial: "shared/icon", locals: { icon_name: "tag-nightlife", class_names: "h-4" } %>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>
