<%= form_for guide do |form| %>
    <div>
        <%= form.label :tags %>
        <%= form.collection_check_boxes(:tags, Guide::TAG_OPTIONS, :last, :first) %>
    </div>

    <%# --- Tags are a work in progress; please ignore for now --- %>
    <div class="flex hidden w-10">
        <%= form.label :tags, class: "font-bold" %>
        <%= form.collection_check_boxes(:tags, Guide::TAG_OPTIONS, :last, :first) do |b| %>
            <% id_field = "peer/#{b.__id__}" %>
            <% id_field_2 = "items-center px-2 py-1 border border-form-primary rounded-lg select-none peer-checked/#{b.__id__}:bg-lavender-active"%>
            <%= b.check_box id:"#{b.__id__}", class: id_field %>
            <%= b.label for:"#{b.__id__}", class: id_field_2 %>
        <% end %>
        <input type="checkbox" name="tag" id="tagA" class="hidden peer/a">
        <label for="tagA" class="items-center px-2 py-1 border rounded-lg select-none border-form-primary peer-checked/a:bg-form-secondary">tag</label>
        <input type="checkbox" name="tag" id="tagB" class="hidden peer/b">
        <label for="tagB" class="items-center px-2 py-1 border rounded-lg select-none border-form-primary peer-checked/b:bg-form-secondary">tag</label>
    </div>
    <%# --- End of tags section --- %>

    <%= form.submit "Add Tags", class: "" %>
<% end %>
