<% content_for :body_class, 'bg-violet-light-primary' %>

<%# TODO: Enforce a three-tag limit %>
<div class="container flex flex-col items-center">
    <div id="title" class="container flex flex-col items-center">
        <h1 class="py-1 text-4xl font-semibold font-headline">Nice Job!</h1>
        <p class="py-1 mb-5 text-sm">Pick up to three tags to summarize your guide</p>
    </div>
    <%= form_for guide do |form| %>
        <div class="flex flex-wrap items-center justify-center max-w-md space-x-2 space-y-2">
            <%= form.collection_check_boxes(:tags, Guide::TAG_OPTIONS, :last, :first) do |b| %>
                <%= b.check_box id:"#{b.__id__}", class: Guide::TAG_IDS[b.value] %>
                <%= b.label for:"#{b.__id__}", class: Guide::TAG_COLORS[b.value] %>
            <% end %>
            <%# <input type="checkbox" name="tag" id="tagA" class="hidden peer/a">
            <label for="tagA" class="items-center px-2 py-1 text-sm font-bold border rounded-full select-none text-form-primary border-form-primary peer-checked/a:bg-golden-active">Learn</label> %>
        </div>
        <%# TODO: Add a Cancel button %>
        <div class="text-center space-x-12 pt-6">
            <%= link_to "X Cancel", root_path, class: "text-form-primary my-2 mt-6 px-4 py-2 font-bold rounded border border-alert" %>
            <%= form.submit "Post →", class: "my-2 mt-6 px-4 py-2 text-form-primary rounded bg-periwinkle-primary hover:bg-periwinkle-hover active:bg-periwinkle-active font-bold pb-2" %>
        </div>
    <% end %>
</div>
