<%= form_tag(guides_path, method: "get") do %>
    <%= text_field_tag :city_query, nil, placeholder: "Search by city...", class: "form-control" %>
    <%= submit_tag "", style: "display: none;" %>

    <% Guide::TAG_OPTIONS.each do |tag_name, tag_id| %>
        <%= check_box_tag "tag_queries[]", tag_id %>
        <%= label_tag tag_name %>
    <% end %>
    <%= submit_tag "", style: "display: none;" %>

    <%= select_tag :duration_option, options_for_select(Guide::DURATIONS.keys) %>
    <%= submit_tag "", style: "display: none;" %>
<% end %>

<ul>
    <% @guides.includes(:author).each do |guide| %>
        <li>
            <%= render 'guide_desc', guide: guide %>
            <%= link_to "Show More", detail_guide_path(guide) %>
        </li>
    <% end %>
</ul>

<%= button_to "Logout", destroy_user_session_path, method: :delete  %>
