<%# TODO: Figure out if there's a better way to set page-specific background colors %>
<style>
    body {
    background-color: #faf4ff;
    }
</style>

<div class="container flex flex-col items-center">
    <div id="title" class="container flex flex-col w-72">
        <h1 class="py-1 text-4xl font-semibold font-headline">Create a Guide</h1>
        <p class="py-1 mb-5 text-lg italic font-light text-violet-dark-primary">Save memories, inspire others</p>
    </div>
    <%= form_with(model: @guide) do |form| %>
        <div class="flex flex-col" data-controller="image-preview">
            <%# Guide Title field %>
            <%= form.label "Title your Guide", class: "font-bold" %>
            <%= form.text_field :title, class: "text-input", placeholder: "e.g. Trip to New York" %>
            <%# City name field %>
            <%= form.label "City Name", class: "font-bold" %>
            <%= form.text_field :city, class: "text-input", placeholder: "e.g. New York, NY" %>
            <%# Cover photo upload %>
            <%= form.label :image %>
            <%= form.file_field :image, "data-image-preview-target": "uploadButton", class: "text-transparent block text-sm border border-form-primary rounded w-72 h-72", "data-action":"image-preview#setImgSrcValue" %>
        </div>
        <%= form.submit "Continue >", class: "my-2 mt-6 px-4 py-2 text-form-primary rounded bg-periwinkle-primary hover:bg-periwinkle-hover active:bg-periwinkle-active font-bold pb-2" %>
    <% end %>
</div>

