<h3>Add a Guide</h3>

<%= form_with(model: @guide) do |form| %>
    <p>
        <%= form.label :tags %>
        <%= form.collection_check_boxes(:tags, Rails.configuration.tag_options, :last, :first) %>
    </p>
    <p>
        <%= form.label :image %>
        <%= form.file_field :image %>
    </p>
    <p>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </p>
    <p>
        <%= form.label :city %>
        <%= form.text_field :city %>
    </p>
    <%= form.submit "Create Guide", class: "" %>
<% end %>
