<style>
body {
  background-color: #3D155A;
}
</style>

<div class="container flex flex-col items-center">
    <%# TODO: Add a Cancel button that shows a modal to delete the in-progress guide %>
    <h1 class="py-2 text-3xl text-white font-headline">Add Activities</h1>
    <% if guide.activities.length > 0 %>
        <ul>
            <% guide.activities.each do |activity| %>
                <li>
                    <% if activity.image.attached? %>
                        <%= image_tag activity.resize_attached_image %>
                    <% end %>
                    <%= activity.title %>
                    <%= activity.prompt %>: <%= activity.prompt_answer %>
                    <%= activity.hours_to_complete %> hr. <%= activity.minutes_to_complete %> min.
                </li>
            <% end %>
        </ul>
    <% end %>

    <p class="py-1 mb-5 italic text-white text-md font-headline">Complete at least one activity</p>
    <div class="p-6 bg-white rounded-md">
        <%= render 'activities/form' %>
    </div>
</div>
