<% if user_signed_in? %>
  <%# Figuring out which page we're on %>
  <% create_styles = "h-14" %>
  <% explore_styles = "h-10" %>
  <% profile_styles = "h-10" %>
  <% if current_page?(new_guide_path || guide_path || add_tags_guide_path) %>
    <% create_styles = "h-14 fill-violet-primary" %>
  <% end %>
  <% if current_page?(guides_path) %>
    <% explore_styles = "h-10 fill-violet-primary" %>
  <% end %>
  <% if current_page?(user_path(current_user)) %>
    <% profile_styles = "h-10 fill-violet-primary" %>
  <% end %>
  <%# Navbar Element %>
  <% if !((params[:controller] == 'guides' && params[:action] == 'add_tags') || (params[:controller] == 'guides' && params[:action] == 'show')) %>
    <div class="fixed bottom-0 flex items-center self-center justify-center w-full h-20 gap-12 px-10 py-2 text-center bg-white sm:w-auto rounded-t-md drop-shadow-lg">
      <%= link_to root_path, class:"flex flex-col items-center" do %>
        <%= render partial: "shared/icon", locals: { icon_name: "nav-explore", class_names: explore_styles } %>
        <p class="text-sm">Explore</p>
      <% end %>
      <%= link_to new_guide_path, class:"flex flex-col items-center" do %>
        <div class="p-2 mb-4 bg-white rounded-full">
          <%= render partial: "shared/icon", locals: { icon_name: "nav-create", class_names: create_styles } %>
          <p class="text-sm">Create</p>
        </div>
      <% end %>
      <%= link_to user_path(current_user), class:"flex flex-col items-center" do %>
        <%= render partial: "shared/icon", locals: { icon_name: "nav-profile", class_names: profile_styles } %>
        <p class="text-sm">Profile</p>
      <% end %>
    </div>
  <% end %>
<% end %>
